[Unit]
Description=E-Paper Slideshow Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/slideshow.py
Restart=always

[Install]
WantedBy=multi-user.target
